<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProyectoF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>39D7DF761BFC12F2005DB5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D7DF8E1BFC12F3005DB5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D7DF991BFC12F3005DB5D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
